In [1]:
POLYGON_PATH = 'https://raw.githubusercontent.com/IsamAljawarneh/datasets/1c2a6af7dea7aa93105ac1d1d0118d07bd681d8a/data/nyc_polygon.geojson'

In [4]:
try:
    from google.colab import drive
except ModuleNotFoundError:
    IN_COLAB = False
else:
    drive.mount('/content/drive')
    IN_COLAB = True

In [2]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import MultiPolygon

C:\Users\mohan\AppData\Local\Temp\ipykernel_4136\1820281231.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
if IN_COLAB:
    TRIPS_PATH = "/content/drive/MyDrive/Project/"
else:
    TRIPS_PATH = "../../data/"
TRIPS_PATH += "nyc1.csv"

In [6]:
trips = pd.read_csv(TRIPS_PATH)

In [7]:
trips.rename(columns={'Pickup_longitude': 'longitude', 'Pickup_latitude': 'latitude'}, inplace=True)

In [8]:
gdf_trips = gpd.GeoDataFrame(trips, geometry=gpd.points_from_xy(trips.longitude, trips.latitude))
gdf_trips.set_crs('epsg:4326', inplace=True)

,id,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,longitude,latitude,Dropoff_longitude,Dropoff_latitude,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type,geometry
0,0,2,2016-01-01 00:29:24,2016-01-01 00:39:36,N,1,-73.928642,40.680611,-73.924278,40.698044,...,0.5,0.5,1.86,0.0,NaN,0.3,11.16,1,1.0,POINT (-73.92864 40.68061)
1,1,2,2016-01-01 00:19:39,2016-01-01 00:39:18,N,1,-73.952675,40.723175,-73.923920,40.761379,...,0.5,0.5,0.00,0.0,NaN,0.3,16.80,2,1.0,POINT (-73.95267 40.72318)
2,2,2,2016-01-01 00:19:33,2016-01-01 00:39:48,N,1,-73.971611,40.676105,-74.013161,40.646072,...,0.5,0.5,4.45,0.0,NaN,0.3,22.25,1,1.0,POINT (-73.97161 40.67611)
3,3,2,2016-01-01 00:22:12,2016-01-01 00:38:32,N,1,-73.989502,40.669579,-74.000648,40.689034,...,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,POINT (-73.98950 40.66958)
4,4,2,2016-01-01 00:24:01,2016-01-01 00:39:22,N,1,-73.964729,40.682854,-73.940720,40.663013,...,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1.0,POINT (-73.96473 40.68285)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445280,1445280,2,2016-01-31 23:59:36,2016-02-01 00:07:53,N,1,-73.807716,40.700451,-73.768478,40.698082,...,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,POINT (-73.80772 40.70045)
1445281,1445281,2,2016-01-31 23:26:06,2016-01-31 23:31:22,N,1,-73.951408,40.714001,-73.941483,40.724766,...,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1,1.0,POINT (-73.95141 40.71400)
1445282,1445282,2,2016-01-31 23:50:36,2016-01-31 23:56:19,N,1,-73.954842,40.730213,-73.944626,40.726303,...,0.5,0.5,2.34,0.0,NaN,0.3,10.14,1,1.0,POINT (-73.95484 40.73021)
1445283,1445283,2,2016-01-31 23:57:47,2016-02-01 00:06:58,N,1,-73.953491,40.817211,-73.977127,40.779583,...,0.5,0.5,1.50,0.0,NaN,0.3,13.30,1,1.0,POINT (-73.95349 40.81721)
1445284,1445284,2,2016-01-31 23:59:54,2016-02-01 00:07:06,N,1,-73.892578,40.747250,-73.910049,40.775539,...,0.5,0.5,2.82,0.0,NaN,0.3,14.12,1,1.0,POINT (-73.89258 40.74725)

In [9]:
geojson_file = POLYGON_PATH
neighborhoods_original = gpd.read_file(geojson_file)

In [10]:
sjoined_trips_original = gpd.sjoin(gdf_trips, neighborhoods_original)
sjoined_trips_original.head(5)

,id,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,longitude,latitude,Dropoff_longitude,Dropoff_latitude,...,improvement_surcharge,Total_amount,Payment_type,Trip_type,geometry,index_right,neighborhood,boroughCode,borough,@id
0,0,2,2016-01-01 00:29:24,2016-01-01 00:39:36,N,1,-73.928642,40.680611,-73.924278,40.698044,...,0.3,11.16,1,1.0,POINT (-73.92864 40.68061),16,Bedford-Stuyvesant,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...
1,1,2,2016-01-01 00:19:39,2016-01-01 00:39:18,N,1,-73.952675,40.723175,-73.923920,40.761379,...,0.3,16.80,2,1.0,POINT (-73.95267 40.72318),125,Greenpoint,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...
2,2,2,2016-01-01 00:19:33,2016-01-01 00:39:48,N,1,-73.971611,40.676105,-74.013161,40.646072,...,0.3,22.25,1,1.0,POINT (-73.97161 40.67611),241,Prospect Heights,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...
3,3,2,2016-01-01 00:22:12,2016-01-01 00:38:32,N,1,-73.989502,40.669579,-74.000648,40.689034,...,0.3,14.80,2,1.0,POINT (-73.98950 40.66958),117,Gowanus,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...
4,4,2,2016-01-01 00:24:01,2016-01-01 00:39:22,N,1,-73.964729,40.682854,-73.940720,40.663013,...,0.3,13.30,2,1.0,POINT (-73.96473 40.68285),60,Clinton Hill,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...

In [13]:
df_pm25 = (sjoined_trips_original
                          .groupby('neighborhood')
                          .Total_amount
                          .agg(list)
                          .to_frame("Total_amount_list")
                          .reset_index())# Let's count each points inside the hexagon

df_pm25['Overall_amount'] =(df_pm25['Total_amount_list'].apply(lambda x:sum(x)))
df_pm25.drop('Total_amount_list',axis = 1, inplace=True)
max_values = df_pm25['Overall_amount'].max()
df_pm25['Overall_amount'] *= 1000
df_pm25['Overall_amount'] /= max_values

In [14]:
df_pm25.head()

      neighborhood  Overall_amount
0         Allerton        5.112921
1  Alley Pond Park        0.067095
2    Arden Heights        0.001954
3         Arrochar        0.029557
4          Arverne        2.430701

In [15]:
df_pm25 = pd.merge(df_pm25, neighborhoods_original, on='neighborhood')

In [16]:
df_pm25.head()

,neighborhood,Overall_amount,boroughCode,borough,@id,geometry
0,Allerton,5.112921,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.84860 40.87167, -73.84582 40.870..."
1,Alley Pond Park,0.067095,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.74333 40.73888, -73.74371 40.739..."
2,Arden Heights,0.001954,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.16983 40.56108, -74.16982 40.561..."
3,Arrochar,0.029557,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-74.06078 40.59319, -74.06079 40.593..."
4,Arverne,2.430701,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...,"POLYGON ((-73.78953 40.59997, -73.78954 40.599..."

In [17]:
print(len(df_pm25["neighborhood"]), df_pm25["neighborhood"].nunique())

239 223

In [18]:
def polygonToMultiPolygon(gdf):
    grouped = gdf.groupby('neighborhood').geometry.agg(lambda x: MultiPolygon(x.tolist()) if len(x) > 1 else x.iloc[0])

    # Reset index to convert the grouped Series back to a DataFrame
    combined_gdf = grouped.reset_index()

    # Merge the aggregated geometries back with the original GeoDataFrame to retain other columns
    merged_gdf = combined_gdf.merge(gdf.drop('geometry', axis=1), on='neighborhood').set_geometry('geometry')
    merged_gdf.drop_duplicates(inplace=True)

    # Now merged_gdf contains a single row for each neighborhood with a MultiPolygon geometry
    return merged_gdf

In [19]:
df_pm25_merged = polygonToMultiPolygon(df_pm25)

In [20]:
print(len(df_pm25_merged['neighborhood']), df_pm25_merged['neighborhood'].nunique())

223 223

In [21]:
df_pm25_merged

,neighborhood,geometry,Overall_amount,boroughCode,borough,@id
0,Allerton,"POLYGON ((-73.84860 40.87167, -73.84582 40.870...",5.112921,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...
1,Alley Pond Park,"POLYGON ((-73.74333 40.73888, -73.74371 40.739...",0.067095,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...
2,Arden Heights,"POLYGON ((-74.16983 40.56108, -74.16982 40.561...",0.001954,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...
3,Arrochar,"POLYGON ((-74.06078 40.59319, -74.06079 40.593...",0.029557,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...
4,Arverne,"POLYGON ((-73.78953 40.59997, -73.78954 40.599...",2.430701,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...
...,...,...,...,...,...,...
234,Windsor Terrace,"POLYGON ((-73.98006 40.66075, -73.97988 40.660...",11.445244,3,Brooklyn,http://nyc.pediacities.com/Resource/Neighborho...
235,Woodhaven,"POLYGON ((-73.86233 40.69596, -73.85654 40.697...",3.907166,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...
236,Woodlawn,"POLYGON ((-73.85947 40.90052, -73.85926 40.900...",1.103909,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...
237,Woodrow,"POLYGON ((-74.17728 40.54063, -74.17723 40.539...",0.026122,5,Staten Island,http://nyc.pediacities.com/Resource/Neighborho...
238,Woodside,"POLYGON ((-73.90087 40.75767, -73.90014 40.756...",202.111396,4,Queens,http://nyc.pediacities.com/Resource/Neighborho...

In [22]:
df_pm25_merged.to_csv('../../data/Average pm25 per neighborhood BASELINE Taxi.csv')